<h1>Hello World!</h1>
<div id='note_count'></div>
<script>
var chart = c3.generate({
        bindto: "#note_count",
        data: {
          columns: [
            gon.data1,
            gon.data2
          ],
          axes: {
            data1: 'y',
            data2: 'y2',
          },
          types: {
            data1: "line",
            data2: "bar"
          }
        },
        axis: {
          x: {
            label: 'X Label'
          },
          y: {
            label: {
              text: 'Y Axis Label',
              position: 'outer-middle'
            }
          },
          y2: {
            show: true,
            label: {
              text: 'Y2 Axis Label',
              position: 'outer-middle'
            }
          }
        },
        tooltip: {
//          enabled: false
        },
        zoom: {
//          enabled: true
        },
        subchart: {
//          show: true
        }
      });

      setTimeout(function () {
        chart.axis.labels({
          x: 'New X Axis Label',
          y: 'New Y Axis Label',
          y2: 'New Y2 Axis Label',
        });
      }, 1000);

      setTimeout(function () {
        chart.load({
          columns: [
            ['data1', 100, 300, 600, 200, 400, 500]
          ]
        });
        chart.axis.labels({y: 'New Y Axis Label Again'});
      }, 2000);


      </script>