
<div id = "backsplash">
  
  <h2>Music, analyzed.</h2>
</div>
<div id = "backsplash_2">
  

</div>

<div id="myModal1" class="reveal-modal">
  <h2>Log in</h2>
	<%= render "partials/login_form" %>
</div>

<div id="myModal2" class="reveal-modal">
  <h2>Sign up</h2>
	<%= render "partials/signup_form" %>
</div>