
<div id = "backsplash">
  
  <h2>Upload...</h2>
</div>
<div id = "backsplash_2">
  

</div>

<div class="modal login-form hidden">
	<%= render "partials/login_form" %>
</div>

<div class = "modal signup-form hidden">
	<%= render "partials/signup_form" %>
</div>