
<div id = "backsplash">
  
  <h2>Upload...</h2>
</div>
<div id = "backsplash_2">
  

</div>

<div id="myModal1" class="reveal-modal">
	<%= render "partials/login_form" %>
</div>

<div id="myModal2" class="reveal-modal">
	<%= render "partials/signup_form" %>
</div>