// Place all the styles related to the scores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Roboto', sans-serif;
}

.score_show_title, 
.score_show_composer {
  font-size: 3em;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

  .score_show_composer {
    font-size: 1.5em;
    margin-top: 10px;
  }

.score_show_image {
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid black;
  box-shadow: 5px 5px 5px #888888;
  }

.score_form {
  margin-top: 4em;
  width: 50%;
  margin-left: 35%;

}
.score_field {
  line-height: 2em;
  margin-bottom: 25empx;
}
.score_field input {
  line-height: 2em;
  width: 50%;
}

*::-webkit-input-placeholder {
    font-size: 1.25em;
}
*:-moz-placeholder {
    /* FF 4-18 */
    font-size: 2em;
}
*::-moz-placeholder {
    /* FF 19+ */
    font-size: 2em;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 2em;
}

.score_submit {
  margin-left: 3%;
  margin-top: 5em;
}

.score_submit input[type="submit"]{
  color: white;
}

.score_image_field {
  display: inline-block;
  float: left;
  width: 30%;
  margin-top: 10px;
  margin-left: 15%;
}

.score_public_field {

 display: inline-block;
 float: right; 
 width: 30%;
 margin-right: 30%;
}

.pub_scores ul {
  margin-top: 20px;
}

.pub_scores li {
  border-bottom: 1px solid #400E75;
  line-height: 50px;
}

.pub_scores {
  padding-top: 40px;
  width: 60%;
  display: inline-block;
  float: right;
  color: #400E75;
  padding-right: 21%;
 
}

.pub_scores h3 {
  width: 100%;
  margin-left: 20%;
  text-align: center;
}

.search {
  text-align: center;
}

.pub_scores h3 {
  font-size: 1.5em;
  padding-bottom: .5em;
  text-decoration: underline;
  width: 50%;
  display: inline-block;
}

.pub_scores a
{
    text-decoration: none;
}


.pub_scores a:hover
{
    color: orange;
}

.pub_scores input[type='text'] {
  line-height: 2.5em;
  width: 30%
}
.pub_scores input[type='submit'] {
  width: 15%;
  color: #FFFFFF;
}

.pub_scores h4 {
  margin-top: 2em;
}


