body {
  font-family: 'Roboto', sans-serif;
}
#profile_picture {

	height: 140px;
  width: auto;
  position: absolute;
  margin-top: -65px;
  margin-left: 2%;
  border: 1px solid #400E75;
}

#profile_head {
  height: 100px;
  background-color: lightgray;
}

#profile_username{
  color: #400E75;
  margin-top: 60px;
  font-size: 2.5em;
  margin-left: 20%;
  width: 50%;
  display: inline-block;
}

#profile_username h2{
  margin-bottom: -300px;
}

#edit_link {
  margin-top: 8%;
  margin-left: 75px;
  width: 10%;
  float: left;
  display: inline-block;
}

#edit_link a,
.my_scores a
{
    text-decoration: none;
}

#edit_link a:hover,
.my_scores a:hover
{
    color: orange;
}


.my_scores {
  padding-top: 40px;
  width: 70%;
  display: inline-block;
  float: right;
  color: #400E75;
  padding-right: 10%;
}

.my_scores h3 {
  font-size: 1.5em;
  padding-bottom: .5em;
  text-decoration: underline;
}

.my_scores li {
  border-bottom: 1px solid #400E75;
  line-height: 50px;
}

.score_title {
  display: inline-block;
  width: 40%;
}
.composer {
  
}
.thumbnail {
  float: right;
  margin-right: 30px;
  /*border: 1px solid black;*/
}





