body {
  font-family: 'Roboto', sans-serif;
}
.profile_picture {

	width: 175px;
  height: 140px;
  position: absolute;
  margin-top: -65px;
  margin-left: 2%;
  border: 1px solid #400E75;
}

#profile_head {
  height: 100px;
  background-color: lightgray;
}

#profile_username{
  color: #400E75;
  margin-top: 60px;
  font-size: 2.5em;
  margin-left: 20%;
  width: 50%;
  display: inline-block;
}

#profile_username h2{
  margin-bottom: -300px;
}

#edit_link {
  margin-top: 8%;
  margin-left: 75px;
  width: 10%;
  float: left;
  display: inline-block;
}

#edit_link a,
.my_scores a
{
    text-decoration: none;
}

#edit_link a:hover,
.my_scores a:hover
{
    color: orange;
}


.my_scores {
  padding-top: 40px;
  width: 60%;
  display: inline-block;
  float: right;
  color: #400E75;
  padding-right: 18%;
}

.my_scores h3 {
  font-size: 1.5em;
  padding-bottom: .5em;
  text-decoration: underline;
  width: 50%;
  display: inline-block;
}

.my_scores ul {
  margin-top: 20px;
}

.my_scores li {
  border-bottom: 1px solid #400E75;
  line-height: 50px;
}

.score_title {
  display: inline-block;
  width: 40%;
}
.composer {
  
}
.thumbnail {
  float: right;
  margin-right: 30px;
  height: 50px;
  /*border: 1px solid black;*/
}

.add_score {
  width: 20%;
  text-align: right;
  display: inline-block;
  float: right;
  margin-top: 5px;
}

.user_edit {
  text-align: center;
  margin-left: 13%;
  width: 70%;
  margin-top: 30px;

}
.edit_user_field {
  line-height: 2em;
}

.edit_user_field input[type='text'] {
  line-height: 2em;
  width: 20%;
}

.edit_email {
  margin-left: 30px;
}

.edit_image {
  margin-left: 30px;
}

.edit_user_submit{
  width: 45%;
  margin-left: 30%;
}

.edit_user_submit input[type=submit] {
  color: white;
}


